main{
    border: 20px solid rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: right;
    text-align: right;
    align-items: reght;
}

header {
    user-select: none;
    border: 5px solid rgb(255, 0, 242);
    display: flex;
    cursor: pointer;
    font-size: 5vh;
}

div {
    border: 5px solid rgb(227, 105, 213);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div:first-child {
    width: 10vh;
    height: 10vh;
    flex: none;
    position: relative;
    border: 0 none;
    background-color: gray;
    transform: rotate(45deg) scale(.5);
    transition: .3s;
}

div:first-child:hover {
    background-color: rgb(255, 0, 212);
}

div:first-child:before,
div:first-child:after {
    content: " ";
    background-color: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
}

div:first-child:before {
    top: -50%;
    left: 0%;
}

div:first-child:after {
    top: 0%;
    left: -50%;
}
