body * { 
    border: 5px solid rgb(255, 0, 123);
}

header p {
    border: 3px solid slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(136, 186, 213);
    display: flex;
    justify-content: center;
    align-items: center;
}
